.Global-labs{
    width: 220px
}
body{
    font: 20px arial, sans-serif;
}

.navbar{
    background-color: #E74C3C 
}

.quem-somos{
    background-color: #C6E8F7;
}
.parceiros{
    background-color: #8FD7F7;
}
.serviços{
    background-color: #4A8DE8; 
}

.bg-footer{
    background-color: black;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 20px;
}

.circulo{
    border-radius: 50%;
}